@keyframes fade-in{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

body{
    font-family: 'Parisienne', sans-serif;
}

.heading{
    font-size: 40px;
    color: #1F2530; 
    animation: fade-in 1s;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: fade-in 2s;
}

.input:focus{
    transform: scale(2);
}

.text{
    text-align: center;
    font-size: 30px;
}

.btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.4s;
}

.btn:hover{
    cursor: pointer;
    transform: scale(2);
}